/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

hr {
  color: rgba(46, 53, 69, 1);
  width: 90%;
  margin-block: 16px;
  opacity: 0.1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 375px;
  margin-inline: auto;
}

.header {
  background-color: rgba(21, 27, 40, 1);
  padding-block: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(46, 53, 69, 1);
}

.pc {
  display: none;
}

.black-header-content {
  background-color: rgba(21, 27, 40, 1);
  padding-inline: 16px;
}

.header-section {
  /* margin-top: 32px; */
  margin-bottom: 40px;
  text-align: center;
}

#hidden-text-1 {
  display: none;
}

.header-section span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #437ef7;
  padding-bottom: 32px;
  display: block;
}

.header-section h3 {
  color: #f9f9f9;
  padding-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
}

.header-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: #a5acba;
}

.plan-buttons {
  display: flex;
}

.montly-button a {
  background-color: rgba(51, 59, 72, 1);
  color: rgba(249, 249, 249, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  width: 164.5px;
  padding: 9px 58px;
  z-index: 1;
  border-radius: 5px;
}

.yearly-button a {
  background-color: rgba(28, 37, 52, 1);
  color: rgba(165, 172, 186, 1);
  width: 164.5px;
  padding: 9px 18px 9px 18px;
  padding: 9px 58px;
  gap: 6px;
  border-radius: 5px;
}

.price-container {
  margin-top: 40px;
  display: grid;
  gap: 16px;
}

.price-card {
  background-color: rgba(37, 45, 60, 1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 5px;
  border: 1px solid rgba(37, 45, 60, 1);
}

strong {
  color: rgba(249, 249, 249, 1);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.price-card h5 {
  color: rgba(249, 249, 249, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-block: 24px 8px;
}

.price-card p {
  color: rgba(165, 172, 186, 1);
  font-weight: 400;
  line-height: 24px;
}

.features {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block: 16px;
}

.features h6 {
  font-size: 16px;
  color: rgba(249, 249, 249, 1);
  font-weight: 400;
  line-height: 24px;
}

.price-card a {
  background-color: rgba(67, 126, 247, 1);
  color: rgba(255, 255, 255, 1);
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding-block: 8px;
  border-radius: 6px;
  margin-top: 24px;
}

.main {
  padding-inline: 16px;
}

.customer-comment-title {
  margin-top: 32px;
  text-align: center;
}
.customer-comment-title h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.customer-comment {
  padding-inline: 16px;
  margin-top: 40px;
}
.customer-comment p {
  padding-block: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
}
.customer-profile-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.customer-info h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
}
.customer-info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}
.main {
  padding-inline: 16px;
}

.customer-comment-title {
  margin-top: 32px;
  text-align: center;
}
.customer-comment-title h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.customer-comment {
  padding-inline: 16px;
  margin-top: 40px;
}
.customer-comment p {
  padding-block: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
}
.customer-profile-section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.customer-info h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
}
.customer-info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #5f6d7e;
}
